<p class="shadow-sm">Editar información de un servicio virtual</p>

<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <button type="button" class="btn btn-primary">Button</button>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-4">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del servicio</mat-label>
      <input matInput placeholder="Placeholder" [value]="virtualService.name_servicio">
    </mat-form-field>
  </div>
  <div class="col-sm-4">
    <mat-form-field appearance="outline">
      <mat-label>Estrategia</mat-label>
      <input matInput placeholder="Placeholder" value="{{ virtualService.service_strategy }}">
    </mat-form-field>
  </div>
  <div class="col-sm-4">  <mat-form-field appearance="outline">
    <mat-label>Nombre de usuario</mat-label>
    <input matInput placeholder="Placeholder" value="{{ virtualService.service_user }}">
  </mat-form-field></div>
</div>

<div class="row">
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput placeholder="Placeholder" value="{{ virtualService.subject }}">
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select>
          <mat-option *ngFor="let cliente of AllClients" [value]="cliente.name">
            {{ cliente.name }}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <mat-label>Creado por</mat-label>
      <input matInput placeholder="Placeholder" value="{{ UserCreate.name }}">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <mat-form-field appearance="outline">
      <mat-label>Editado por</mat-label>
      <input matInput placeholder="Placeholder" value="{{ UserEdit.name }}">
    </mat-form-field>
  </div>
  <div class="col-lg-4">
    <!-- <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon mx-auto" 
    >
        <i class="tim-icons icon-pencil">Ver detalles</i>
    </button>   -->
  </div>
  <div class="col-lg-4">
    <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon mx-auto"
    (click)="cancelar()">
        <i class="tim-icons icon-pencil">Cancelar</i>
    </button>
    <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon mx-auto" 
    (click)="editVirtualService(virtualService)">
        <i class="tim-icons icon-pencil">Editar</i>
    </button>  
  </div>
</div>


<!-- <form class="example-container" >









  
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
 </div> -->

<!-- <div mat-dialog-actions>
    <button mat-button class="btn-danger" (click)="cancelar()">Cancelar</button>
    <button mat-button class="btn-primary" (click)="save()">Guardar</button>
</div>

</form>  -->
<!-- <div class="form-group"> -->
  <!-- <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput value="{{ virtualService.name_servicio }}">
  </mat-form-field> -->

