<app-loading *ngIf="loading"></app-loading>
<h1 mat-dialog-title>{{title}} cliente</h1>

<form role="form" [formGroup]="clientsForm"  autocomplete="off" (ngSubmit)="save()">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Nombre cliente" formControlName="name"  >
                    <mat-error *ngIf="validation.name.invalid">
                        <div *ngIf="validation.name.errors.required">El Nombre del cliente es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Usuarios" formControlName="users" [ngClass]="{ 'is-invalid': validation.users.errors }" [multiple]="true" [(ngModel)]="selectedUsers">
                        <mat-option *ngFor="let user of users" [value]="user.id">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="validation.users.invalid">
                        <div *ngIf="validation.users.errors.required">Los usuarios son obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions class="pull-right">
            <button type="submit" class="btn btn-primary btn-sm mat-button-base" mat-raised-button >
                <span class="mat-button-wrapper"><i class="material-icons">done</i> Aceptar</span>
            </button>
            <button class="btn btn-danger btn-sm mat-button-base" mat-raised-button matDialogClose >
                <span class="mat-button-wrapper"><i class="material-icons">close</i> Cancelar</span>
            </button>
        </div>
    </div>
</form>