<div class="main-content">
    <app-loading *ngIf="loadingDt"></app-loading>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon pull-right mt-3" (click)="addUser()" matTooltip="Nuevo Usuario" [matTooltipPosition]="'above'">
                            <span class="mat-button-wrapper"><i class="material-icons">add</i></span>
                        </button>
                        <div class="card-icon"><i class="material-icons">people</i></div>
                        <h4 class="card-title ">Usuarios</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                          <table datatable [dtOptions]="dtOptions" style="width:100%" class="table table-striped table-bordered responsive row-border hover">
                            <thead>
                              <tr>
                                <th id="id">Id</th>
                                <th id="user">Usuario</th>
                                <th id="name">Nombre</th>
                                <th id="role">Perfil</th>
                                <th id="action" style="max-width: 70px;">Accion</th>
                              </tr>
                            </thead>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
