<mat-card-content>
    
    <div class="main-content">
        <app-loading *ngIf="loadingDt"></app-loading>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <!-- <div class="card-icon"><i class="material-icons">swap_horiz</i></div> -->
                            <h4 class="card-title ">Información SV</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%" 
                                class="table table-bordered table-striped responsive">
                                  <thead>
                                    <tr>
                                      <th id="app">Servicio</th>
                                      <th id="conection">Información</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let app of aplications">
                                          <td>{{ app.name_servicio }} </td>
                                          <td>
                                            <!-- <mat-form-field class="example-full-width mt-3">
                                                <mat-select placeholder="Conectado a" [id]="app.id" (selectionChange)="selectChange(app, $event)" [value]="app.active">
                                                    <mat-option *ngFor="let detail of app.detalles" [value]="detail.id">
                                                    <mat-option>
                                                        {{ detail.types.name }} - {{ detail.ip_db }}:{{ detail.port_db }}
                                                        Subject: {{ app.subject }}
                                                    </mat-option>
                                                </mat-select>
                                                <input *ngIf="user.admin == 3" matInput type="text" placeholder="Conectado a"  [id]="app.id" [value]="getValueView(app.detalles, app.active)" readonly>
                                            </mat-form-field> -->
                                            <div> Subject: <strong>{{ app.subject }}</strong></div>
                                            <div>Estrategia: {{ app.service_strategy }}</div>
                                            <div>Cliente: {{ app.client.name }}</div>
                                            
                                            <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon mx-auto" 
                                            (click)="detailVirtualService(app.id)">
                                                <i class="tim-icons icon-pencil">Ver detalles</i>
                                            </button>    
                                            <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon mx-auto" 
                                            (click)="editVirtualService(app.id)">
                                                <i class="tim-icons icon-pencil">Editar</i>
                                            </button>             
                                          </td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</mat-card-content>


