<footer class="footer ">
    <div class="container-fluid">
        <div class="copyright pull-center">
            &copy;
            {{test | date: 'yyyy'}},
            <a href="https://www.creative-tim.com" target="_blank">Konecta</a> - Gestor base de servicios virtuales.
        </div>
    </div>
</footer>