<app-loading *ngIf="loading"></app-loading>
<h1 mat-dialog-title>{{title}} aplicacion</h1>

<form role="form" [formGroup]="aplicationsForm"  autocomplete="off" (ngSubmit)="save()">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-sm-4 col-12">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Cliente" formControlName="client" [ngClass]="{ 'is-invalid': app.client.errors }" [(ngModel)]="selectedClient">
                        <mat-option *ngFor="let client of clients" [value]="client.id">
                            {{client.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="app.client.invalid">
                        <div *ngIf="app.client.errors.required">El cliente es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Nombre app" formControlName="name"  >
                    <mat-error *ngIf="app.name.invalid">
                        <div *ngIf="app.name.errors.required">El Nombre de la aplicacion es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Ip app" formControlName="ip"  >
                    <mat-error *ngIf="app.ip.invalid">
                        <div *ngIf="app.ip.errors.required">La ip de la aplicacion es obligatoria</div>
                        <div *ngIf="app.ip.errors.pattern">Este campo debe contener una ip valida</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Url app" formControlName="url"  >
                    <mat-error *ngIf="app.url.invalid">
                        <div *ngIf="app.url.errors.required">La Url de la aplicacion es obligatoria</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Path app" formControlName="path"  >
                    <mat-error *ngIf="app.path.invalid">
                        <div *ngIf="app.path.errors.required">El path de la aplicacion es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <br />
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4 col-12">
                <mat-card>
                    <mat-card-title class="text-center">Principal</mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Ip" formControlName="ip_db"  >
                                    <mat-error *ngIf="app.ip_db.invalid">
                                        <div *ngIf="app.ip_db.errors.required">La ip de la bd es obligatoria</div>
                                        <div *ngIf="app.ip_db.errors.pattern">Este campo debe contener una ip valida</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Puerto" formControlName="port_db"  >
                                    <mat-error *ngIf="app.port_db.invalid">
                                        <div *ngIf="app.port_db.errors.required">El puerto de la bd es obligatorio</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Usuario" formControlName="user_db"  >
                                    <mat-error *ngIf="app.user_db.invalid">
                                        <div *ngIf="app.user_db.errors.required">El usuraio de la bd es obligatorio</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" formControlName="pass_db" >
                                    <mat-icon matSuffix (click)="showPassword = !showPassword">
                                        <i class="material-icons">{{ showPassword ? 'visibility_off' : 'visibility' }}</i>
                                    </mat-icon>
                                    <mat-error *ngIf="app.pass_db.invalid">
                                        <div *ngIf="app.pass_db.errors.required">La contraseña de la bd es obligatoria</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Nombre DB" formControlName="description"  >
                                    <mat-error *ngIf="app.description.invalid">
                                        <div *ngIf="app.description.errors.required">El nombre de la bd es obligatorio</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-4 col-12">
                <mat-card>
                    <mat-card-title class="text-center">Replica</mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Ip" formControlName="ip_db_rep"  >
                                    <mat-error *ngIf="app.ip_db_rep.invalid">
                                        <div *ngIf="app.ip_db_rep.errors.required">La ip de la bd es obligatoria</div>
                                        <div *ngIf="app.ip_db_rep.errors.pattern">Este campo debe contener una ip valida</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Puerto" formControlName="port_db_rep"  >
                                    <mat-error *ngIf="app.port_db_rep.invalid">
                                        <div *ngIf="app.port_db_rep.errors.required">El puerto de la bd es obligatorio</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Usuario" formControlName="user_db_rep"  >
                                    <mat-error *ngIf="app.user_db_rep.invalid">
                                        <div *ngIf="app.user_db_rep.errors.required">El usuraio de la bd es obligatorio</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput [type]="showPasswordRep ? 'text' : 'password'" placeholder="Contraseña" formControlName="pass_db_rep" >
                                    <mat-icon matSuffix (click)="showPasswordRep = !showPasswordRep">
                                        <i class="material-icons">{{ showPasswordRep ? 'visibility_off' : 'visibility' }}</i>
                                    </mat-icon>
                                    <mat-error *ngIf="app.pass_db_rep.invalid">
                                        <div *ngIf="app.pass_db_rep.errors.required">La contraseña de la bd es obligatoria</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Nombre DB" formControlName="description_rep"  >
                                    <mat-error *ngIf="app.description_rep.invalid">
                                        <div *ngIf="app.description_rep.errors.required">El nombre de la bd es obligatorio</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div mat-dialog-actions class="pull-right">
            <button type="submit" class="btn btn-primary btn-sm mat-button-base" mat-raised-button >
                <span class="mat-button-wrapper"><i class="material-icons">save</i> Guardar</span>
            </button>
            <button class="btn btn-danger btn-sm mat-button-base" mat-raised-button matDialogClose >
                <span class="mat-button-wrapper"><i class="material-icons">close</i> Cancelar</span>
            </button>
        </div>
    </div>
</form>
