<div class="main-content">
    <app-loading *ngIf="loadingDt"></app-loading>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon"><i class="material-icons">format_list_bulleted</i></div>
                        <h4 class="card-title ">Logs cambios BD</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                          <table datatable [dtOptions]="dtOptions" style="width:100%" class="table table-striped table-bordered responsive row-border hover">
                            <thead>
                              <tr>
                                <th id="date_register">Fecha</th>
                                <th id="user">Usuario</th>
                                <th id="client">Cliente</th>
                                <th id="aplication">Aplicacion</th>
                                <th id="logs">Cambio Realizado</th>
                              </tr>
                            </thead>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

