<app-loading *ngIf="preloader"></app-loading>
<div class="main-content">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-4">
                <div class="card card-profile">
                    <div class="card-body">
                        <form role="form" [formGroup]="loginForm"  autocomplete="off">
                            <div class="row d-flex justify-content-center row-logo">
                                <img class="img img-logo" src="./assets/img/logo.png" alt="logo konecta" />
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" placeholder="Usuario" formControlName='user' (keyup.enter)="onLogin()" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="password" placeholder="Contraseña" formControlName='password' (keydown.enter)="onLogin()" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <a (click)="onLogin()" class="btn btn-primary white">Entrar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>