<app-loading *ngIf="loading"></app-loading>
<h1 mat-dialog-title>{{title}} usuario de aplicacion</h1>

<form role="form" [formGroup]="userApiForm" autocomplete="off" (ngSubmit)="save()">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Usuario (IP)" formControlName="username" >
                    <mat-error *ngIf="validation.username.invalid">
                        <div *ngIf="validation.username.errors.required">El Usuario es obligatorio</div>
                        <div *ngIf="validation.username.errors.pattern">El Usuario no es una ip valida</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                    <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" formControlName="password" >
                    <mat-icon matSuffix (click)="showPassword = !showPassword">
                        <i class="material-icons">{{ showPassword ? 'visibility_off' : 'visibility' }}</i>
                    </mat-icon>
                    <mat-error *ngIf="validation.password.invalid">
                        <div *ngIf="validation.password.errors.required">La contraseña es obligatoria</div>
                        <div *ngIf="validation.password.errors.pattern" matTooltip="La contraseña debe contener mayusculas, minusculas, numeros y caracteres($@$!%*?&)" [matTooltipPosition]="'above'">Contraseña debil (*)</div>
                        <div *ngIf="validation.password.errors.minlength && !validation.password.errors.pattern">La contraseña debe contener minimo 8 caracteres</div>
                        <div *ngIf="validation.password.errors.maxlength && !validation.password.errors.pattern">La contraseña debe contener maximo 30 caracteres</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                    <input matInput [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirmar Contraseña" formControlName="password_confirmation" [errorStateMatcher]="matcher" >
                    <mat-icon matSuffix (click)="showConfirmPassword = !showConfirmPassword">
                        <i class="material-icons">{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</i>
                    </mat-icon>
                    <mat-error *ngIf="userApiForm.hasError('notSame')">
                        Las contraseñas no coinciden
                    </mat-error>  
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions class="pull-right">
            <button type="submit" class="btn btn-primary btn-sm mat-button-base" mat-raised-button >
                <span class="mat-button-wrapper"><i class="material-icons">done</i> Aceptar</span>
            </button>
            <button class="btn btn-danger btn-sm mat-button-base" mat-raised-button matDialogClose >
                <span class="mat-button-wrapper"><i class="material-icons">close</i> Cancelar</span>
            </button>
        </div>
    </div>
</form>
