<app-loading *ngIf="loading"></app-loading>
<h1 mat-dialog-title>{{title}} usuario</h1>

<form role="form" [formGroup]="userForm" autocomplete="off" (ngSubmit)="save()">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Usuario de red" formControlName="user"  >
                    <mat-error *ngIf="validation.user.invalid">
                        <div *ngIf="validation.user.errors.required">El Usuario de red es obligatorio</div>
                        <div *ngIf="validation.user.errors.pattern">El Usuario de red no es valido</div>
                        <div *ngIf="validation.user.errors.minlength">El Usuario de red debe contener minimo 6 caracteres</div>
                        <div *ngIf="validation.user.errors.maxlength">El Usuario de red debe contener maximo 30 caracteres</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Nombre usuario" formControlName="name"  >
                    <mat-error *ngIf="validation.name.invalid">
                        <div *ngIf="validation.name.errors.required">El Nombre del usuario es obligatorio</div>
                        <div *ngIf="validation.name.errors.pattern">El Nombre del usuario no es valido, solo debe contener letras</div>
                        <div *ngIf="validation.name.errors.minlength">El Usuario de red debe contener minimo 6 caracteres</div>
                        <div *ngIf="validation.name.errors.maxlength">El Usuario de red debe contener maximo 60 caracteres</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Perfil" formControlName="type" [ngClass]="{ 'is-invalid': validation.type.errors }" [(ngModel)]="selectedRole">
                        <mat-option *ngFor="let role of roles" [value]="role.id">
                            {{role.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="validation.type.invalid">
                        <div *ngIf="validation.type.errors.required">Los usuarios son obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions class="pull-right">
            <button type="submit" class="btn btn-primary btn-sm mat-button-base" mat-raised-button >
                <span class="mat-button-wrapper"><i class="material-icons">done</i> Aceptar</span>
            </button>
            <button class="btn btn-danger btn-sm mat-button-base" mat-raised-button matDialogClose >
                <span class="mat-button-wrapper"><i class="material-icons">close</i> Cancelar</span>
            </button>
        </div>
    </div>
</form>
