<app-loading *ngIf="loading"></app-loading>
<h1 mat-dialog-title>{{title}} aplicacion</h1>

<div mat-dialog-content>
    <form role="form" aria-label="aplicationsForm" [formGroup]="aplicationsForm"  autocomplete="off">
        <input matInput type="hidden" formControlName="id" >
        <div class="row">
            <div class="col-sm-4 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Client" formControlName="client" readonly>
                </mat-form-field>
            </div>
            <div class="col-sm-4 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Nombre app" formControlName="name" readonly>
                </mat-form-field>
            </div>
            <div class="col-sm-4 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Ip app" formControlName="ip" readonly>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Url app" formControlName="url" readonly>
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-12">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Path app" formControlName="path" readonly>
                </mat-form-field>
            </div>
        </div>
    </form>
    <br />
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 col-sm-6 col-12">
            <mat-card>
                <mat-card-title class="text-center">Principal</mat-card-title>
                <mat-card-content>
                    <form role="form" aria-label="dbPrincipalForm" [formGroup]="dbPrincipalForm"  autocomplete="off">
                        <input matInput type="hidden" formControlName="id_db" >
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Ip" formControlName="ip_db" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Puerto" formControlName="port_db" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Usuario" formControlName="user_db" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Nombre DB" formControlName="description" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <mat-card>
                <mat-card-title class="text-center">Replica</mat-card-title>
                <mat-card-content>
                    <form role="form" aria-label="dbReplicForm" [formGroup]="dbReplicForm"  autocomplete="off" readonly>
                        <input matInput type="hidden" formControlName="id_db_rep" >
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Ip" formControlName="ip_db_rep" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Puerto" formControlName="port_db_rep" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Usuario" formControlName="user_db_rep" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" placeholder="Nombre DB" formControlName="description_rep" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div mat-dialog-actions class="pull-right">
        <button class="btn btn-danger btn-sm mat-button-base" mat-raised-button [mat-dialog-close]="">
            <span class="mat-button-wrapper"><i class="material-icons">close</i> Cerrar</span>
        </button>
    </div>
</div>


