<p>virtual-services-detail works!</p>



    <!-- <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput value="{{ virtualService.name_servicio }}">
    </mat-form-field> -->
    <mat-form-field appearance="outline">
      <mat-label>Nombre del servicio</mat-label>
      <input matInput placeholder="Placeholder" value="{{ virtualService.name_servicio }}" readonly>
      
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Estrategia</mat-label>
      <input matInput placeholder="Placeholder" value="{{ virtualService.service_strategy }}" readonly>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput placeholder="Placeholder" value="{{ virtualService.service_user }}" readonly>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput placeholder="Placeholder" value="{{ virtualService.subject }}" readonly>
  
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Cliente</mat-label>
      <input matInput placeholder="Placeholder" value="{{ ClientService.name }}" readonly>
   
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Creado por</mat-label>
      <input matInput placeholder="Placeholder" value="{{ UserCreate.name }}" readonly>
   
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Editado por</mat-label>
      <input matInput placeholder="Placeholder" value="{{ UserEdit.name }}" readonly>
   
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
  
  
  
  
    
    <!-- <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  
  <div mat-dialog-actions>
      <button mat-button class="btn-danger" (click)="cancelar()">Cancelar</button>
      <button mat-button class="btn-primary" (click)="save()">Guardar</button>
  </div> -->