<p>create-sv works!</p>
<div mat-dialog-actions>
    <button mat-button class="btn-danger" (click)="cancelar()">Cancelar</button>
    <button mat-button class="btn-primary" (click)="save()">Guardar</button>
</div>